
.exWorksheet{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */	
}


.exWorksheet .exNode{
	cursor: move;
	stroke: none;
	fill: none;
	pointer-events : all;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.exWorksheet .exNode rect.exNodeBody{
	stroke: #000;
	stroke-width:  1px;
	fill: none;
	pointer-events : all;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.exWorksheet .exNode text.exNodeTitle{
	font-size: 14px;
	stroke: none;
	fill: #fff;
}

.exWorksheet .exNode text.exNodeSubtitle{
	font-size: 12px;
	stroke: none;
	fill: #999;
}