
.exWorksheet{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */	
}


.exWorksheet .exNode{
	cursor: move;
	stroke: none;
	fill: none;
	pointer-events : all;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.exWorksheet .exNode rect.exNodeBody{
	stroke: #000;
	stroke-width:  1px;
	fill: none;
	pointer-events : all;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.exWorksheet .exNode text.exNodeTitle{
	font-size: 14px;
	stroke: none;
	fill: #fff;
}

.exWorksheet .exNode text.exNodeSubtitle{
	font-size: 12px;
	stroke: none;
	fill: #999;
}




.exWorksheet .exNode .exPin{
	pointer-events : all;
	cursor: crosshair;	
}

.exWorksheet .exNode .exPin circle{
	stroke: #000;
	stroke-width: 3px;
}


.exTitlebar text {
	font-family: "Helvetica, Arial, sans-serif";
}


.exWorksheet .background{
	fill: #262626;
}

.medGrid{
	stroke: #161616;
	stroke-width: 1;
}

.smallGrid{
	stroke: #343434;
	stroke-width: 1;
	fill: #262626;
}