
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css.css" media="all">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="libs/svg-pan-zoom.js"></script>
		<script src="libs/color.js"></script>
		<script src="utils.js"></script>
		<script>
			var test = new Color('#f00');
			console.log(test);
		</script>
	</head>
	
	<body>

	<template id="worksheetTpl">
		<svg 
			style="width:100%;height:100%" 
			:class="cls" 
			xmlns="http://www.w3.org/2000/svg" 
			ref="worksheet" 
			@contextmenu.prevent.stop="onContextMenu" 
			@mousedown.right="onRightButtonDown"
		>
			<defs>
				<template v-for="(def, idx) in defs">
					<component v-bind="def.props">
						<component v-for="(subdef, idx) in def.childs" v-bind="subdef.props" />
					</component>
				</template>
				<slot name="defs" />
			</defs>

			<slot />

			<rect width="100%" height="100%" class="background" />
			<g class="exWorkspace">
				<rect width="100000" height="100000" transform="translate(-50000,-50000)" :fill="'url(#' + gridId + ')'" />
				<g class="exNodes">
					<component v-for="node in nodes"
						:is="node.ctor" 
						class="exNode"
						:id="node.id"
						:x.sync="node.x"
						:y.sync="node.y"
						:width="node.width"
						:height="node.height"
						:title.sync="node.title"
						:subtitle="node.subtitle"
						:type="node.type"
						:flags="node.flags"
						:color="node.color"
						:img="node.img"
						:inputs="node.inputs"
						:outputs="node.outputs"
					/>
					<slot name="nodes" />
				</g>
				<g class="exLinks">
					<slot name="links" />
				</g>
				<g class="exSelection">
					<slot name="selection" />
				</g>
			</g>
			<ex-tooltip />
			<slot name="front" />
		</svg>
	</template>
	
	<template id="exnodeTpl">
			<svg
				:class="classObject"
				:id="mId"
				:x.sync="mX" 
				:y.sync="mY" 
				:width="mWidth" 
				:height="mWidth" 
				:type="type"
				inputs=""
				outputs=""
				@mousedown.left.stop="dragMouseDown" 
				@contextmenu.prevent.stop="alertz" 
				@resize="updatez"
			>
				<rect width="100%" height="100%" rx="15" ry="15" class="exNodeBody" />
				
				<g class="exNodeHeader">
					<path v-if="mTitle && mSubtitle" :d="'m1.5,11.5c0,-5 5,-10 10,-10l+' + (mWidth-23) + ',0c5,0 10,5 10,10l0,30l-' + (mWidth - 3) + ',0l0,-30z'" class="exHeader" :fill="'url(#nodeHeader_' + mColor.replace('#', '') + ')'" />
					<path v-if="mTitle && !mSubtitle" :d="'m1.5,11.5c0,-5 5,-10 10,-10l+' + (mWidth-23) + ',0c5,0 10,5 10,10l0,16-' + (mWidth - 3) + ',0l0,-13z'" class="exHeader" :fill="'url(#nodeHeader_' + mColor.replace('#', '') + ')'" />
					<image v-if="img" :href="img" x="10" y="6" width="16" height="16" />
					<text v-if="title" class="exNodeTitle" :x="img ? '28' : 10" y="18">{{title}}</text>
					<text v-if="subtitle" class="exNodeSubtitle" :x="img ? '28' : 10" y="34">{{subtitle}}</text>
				</g>
				
				<g class="exInputs" :transform="mSubtitle ? 'translate(7,50)' : mTitle ? 'translate(7,34)' : 'translate(7,14)'">
					<component v-for="(pin, idx) in mInputs" :key="pin.id" 
						:is="pin.ctor" 
						slot="inputs" 
						:class="pin.class"
						:label="pin.label"
						:type="pin.type"
						:x="7"
						:y="idx*24" 
						:width="pin.width"
						:height="pin.height"
						:color="pin.color"
					/>
					<slot name="inputs" />
				</g>
				
				<g class="exOutputs" :transform="mSubtitle ? 'translate(7,50)' : mTitle ? 'translate(7,34)' : 'translate(7,14)'">
					<component v-for="(pin, idx) in mOutputs" :key="pin.id" 
						:is="pin.ctor" 
						slot="inputs" 
						:class="pin.class"
						:label="pin.label"
						:type="pin.type"
						:x="pin.x"
						:y="idx*24" 
						:width="pin.width"
						:height="pin.height"
						:color="pin.color"
					/>				
					<slot name="outputs" />
				</g>
			</svg>
	</template>
	
	<template id="expingraphTpl">
		<circle cx="8" :cy="mHeight/2" r="5" :stroke="color" />
		<text x="20" y="12" class="label">{{label}}</text>	
	</template>
	
	<template id="expinTpl">
		<svg 
			:id="mId"
			class="exPin"
			:x="mX" 
			:y="mY" 
			:width="mWidth" 
			:height="mHeight" 
			@mousedown.left.stop="$emit('startLink')"
			@mouseup.left="$emit('stopLink')"
			@mouseenter="mouseEnter"
		>
			<rect x="0" y="0" :width="mWidth" :height="mHeight" />
			<template v-if="type == 'input'">
				<circle cx="8" :cy="mHeight/2" r="5" :stroke="color" />
				<text x="20" y="12" class="label">{{label}}</text>
			</template>
			<template v-else></template>
		</svg>
	</template>
	
	<template id="extooltipTpl">
		<svg
			:x="0"
			:y="0"
			:width="100"
			:height="100"
			:class="classObject"
		>
			<rect width="100%" height="100%" class="extooltip" fill="#555" />
			<text x="3" y="3">{{text}}</text>
		</svg>
	</template>
	
	
	<template id="titlebarTpl">
		<g class="exTitlebar">
			<rect width="100%" height="40"></rect>
			<text x="100" y="25" stroke="#fff">
				<tspan>{{title}}</tspan>
			</text>
			<slot name="buttons" />
		</g>
	</template>
	
	<template id="titlebarButtonTpl">
		<image width="32" height="32" x="100" y="3" class="undoredo undo" />
	</template>


	<div id="app">
		<ex-worksheet ref="worksheet" class="exWorksheet">
			<ex-titlebar title="toto" slot="front">
				<image width="32" href="undo.png" height="32" x="100" y="3" class="undoredo undo" slot="buttons"></image>
			</ex-titlebar>
		</ex-worksheet>
	</div>
	
	<script src="node.js"></script>
	<script src="panzoom.js"></script>
	<script src="index.js"></script>
	<script>
	
		var n = {
			title: 'Make Array',
			subtitle: 'target is me',
			color: '#78c8fe',
			img: 'function.png',
			x: 300,
			y: 300,
			inputs: [
				{id: 'toto', label: 'test', color:'#fff'},
				{id: 'titi', label: 'cool', color:'#fff'}
			],
			flags: 'ok',
		};
		app.addNode(n);
		
		n = {
			title: 'Split String long titre essai',
			color: '#8000FF',
			img: 'function.png',
			x: 100,
			y: 100,
			inputs: [
				{id: 'toto', label: 'test', color:'#f00'},
				{id: 'titi', label: 'cool', color:'#0f0'},
				//{id: 'zozo', label: 'cool', color:'#00f'}
			],
			flags: 'ok',
		};
		app.addNode(n);
		n.inputs[1].label = "yes"
		console.log(n)
	</script>
	</body>
	
</html>